// .dialogBoxContainer {
//   background-color: #ecf3f8;
//   font-size: 13px;
//   color: #282828e5;
//   position: relative;
//   width: 100%;
//   span {
//     position: absolute;
//     top: 4%;
//     right: 2%;
//     cursor: pointer;
//     font-size: 18px;
//   }
//   p {
//     padding: 10px 15px 10px 10px;
//   }
// }
.ant-alert-info {
  background-color: #ecf3f8;
  border: none;
  font-size: 13px;
}
