.cls-flight-list-container {
  background-color: var(--text-white);
  padding-block-start: 10px;
  padding-inline: 35px;
  border: 1px solid var(--dark-grey);

  &.cls-schedule-change {
    // border-inline-start: 9px solid var(--text-blue);
    border: 1px solid var(--reschedule-primary-color);
    border-radius: 5px;

    &::before {
      content: '';
      background-color: var(--reschedule-primary-color);
      width: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  &.cls-original-flights {
    & > :last-child {
      & > :last-child {
        border-bottom: none;
      }
    }
  }

  .cls-table-dtl {
    color: var(--dark-grey);
    padding: 0;
  }

  .cls-radio-reschedule {
    .cls-login-info {
      color: var(--refunded);
    }
    .cls-header-text {
      color: #0a3c76;
    }
    .ant-radio-inner {
      border-color: #11519b;
    }
    .ant-radio-inner:after {
      background-color: var(--reschedule-primary-color);
    }
    .ant-radio-checked .ant-radio-inner {
      border-color: var(--reschedule-primary-color);
    }
    .ant-radio-checked {
      color: var(--reschedule-primary-color);
    }
    .ant-radio-checked:after,
    .ant-radio-input:focus + .ant-radio-inner,
    .ant-radio-wrapper:hover .ant-radio-inner,
    .ant-radio:hover .ant-radio-inner {
      border-color: var(--check-box-color);
    }
    .cls-description-text {
      color: #395d70;
      font-style: italic;
    }
    .ant-card-bordered {
      border-radius: 12px;
      background-color: #ebf3ff;
      border-color: var(--t-viewPnr-rebooked-flight-card-bdr-color);
      margin: 10px 0px;
    }
    .ant-card-body {
      padding: 15px;
    }

    .cls-disabled .ant-radio-wrapper {
      cursor: not-allowed;
      pointer-events: none;
    }

    .cls-disabled .ant-radio-input {
      cursor: not-allowed;
    }

    .cls-disabled .ant-radio-inner {
      background-color: #f5f5f5;
      border-color: #d9d9d9;
      cursor: not-allowed;
    }
  }

  .cls-flight-details-container {
    position: relative;

    .cls-flight-details {
      position: relative;
      padding: 15px 0 10px 0;
      border-bottom: 1px dashed var(--dark-grey);

      &.cls-action {
        padding: 28px 10px 15px;
      }

      .cls-flight-row {
        padding: 10px 3px;

        .cls-flight-itenerary {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 16px;
          font-weight: 600;
        }

        .cls-flight-route-container {
          align-items: center;
          // justify-content: center;
          gap: 2px;

          .cls-flight-duration {
            svg {
              vertical-align: middle;
            }
          }
          .cls-travel-point {
            color: var(--dark-grey);
          }
        }
      }

      .ant-btn > span {
        margin-left: 6px;
      }

      .cls-flight-description {
        margin-block-start: 10px;
        span {
          svg {
            vertical-align: middle;
          }
        }
      }

      .cls-modify-row {
        margin-block-start: 14px;

        .cls-date-picker-container {
          margin-block-start: 3px;
        }
        .ant-picker {
          width: 125px;
          color: var(--text-blue);
          top: -5px;
          border: 1px solid #f2f2f2;
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
          border-radius: 5px;
        }
        .ant-picker-input > input::placeholder {
          color: var(--text-blue);
        }
        .ant-picker-input > input:hover {
          border-color: var(--text-blue);
        }
        .ant-picker-input > input {
          font-size: 12px;
          color: var(--text-blue);
        }
        .ant-picker-focused,
        .ant-picker:hover {
          border-color: var(--text-blue);
        }
        .ant-picker-suffix {
          color: var(--text-blue);
        }

        .cls-modify-text {
          color: #666666;
          font-style: italic;
        }
      }

      .cls-custom-radio-row {
        margin-inline-start: auto;

        .ant-radio-group {
          display: flex;
          gap: 20px;
          .ant-radio-wrapper {
            border: 1px solid var(--text-blue);
            padding: 5px 20px;
            border-radius: 22px;
            color: var(--text-blue);

            .ant-radio-inner {
              border: 1px solid var(--text-blue);

              &::after {
                background-color: var(--text-blue);
              }
            }
          }
        }
      }
    }
    .cls-review-end-msg {
      display: flex;
      align-items: center;
      gap: 14px;
      background-color: var(--t-review-flight-info-msg-bg);
      padding: 13px 10px;
      margin-block: 20px 10px;
    }
  }

  .cls-time-highlight {
    background: #fff8ee;
    color: #7e4a00;
    padding: 5px 2px 7px;
  }

  .cls-rs-btn {
    button {
      display: flex;
      align-items: center;
      width: fit-content;
      border: none;
      cursor: auto;
    }
  }

  &.cls-original-flights,
  &.cls-schedule-change {
    .cls-schedule-changed-btn {
      button {
        background-color: var(--text-blue);
        font-size: 12px;
      }
    }

    .cls-rs-btn {
      button {
        color: var(--text-white);
        font-size: 12px;
        font-weight: 700;
        border-radius: 4px;
      }
    }

    .cls-rs-status {
      button {
        background-color: var(--refunded);
      }
    }

    .cls-rs-status-confirm {
      button {
        background-color: var(--accepted);
      }
    }
  }

  &.cls-review-flights {
    position: relative;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block-start: 7px;

    .cls-flight-itenerary {
      gap: 10px !important;
    }

    &.cls-accepted {
      border: 1px solid var(--accepted);
    }

    &.cls-cancelled {
      border: 1px solid var(--refunded);
    }

    &.cls-modified {
      border: 1px solid var(--modified);
    }

    .cls-review-status-label {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--text-white);
      padding: 0 14px;
      border-radius: 4px 0;
      font-weight: 600;

      &.cls-accept {
        background-color: var(--accepted);
      }

      &.cls-refund {
        background-color: var(--refunded);
      }

      &.cls-modify {
        background-color: var(--modified);
      }
    }

    .cls-rs-btn {
      button {
        font-size: 12px;
        font-weight: 700;
        background: none;
      }

      &.cls-review-confirm {
        button {
          color: var(--accepted);
        }
      }

      &.cls-review-cancelled {
        button {
          color: var(--refunded);
        }
      }
    }
  }
}

// Common styles

.cls-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// .cls-action {
//   margin-top: 20px;
//   border-radius: 4px;
//   border-top-left-radius: 6px;
//   padding: 10px;

//   &.cls-accept::before,
//   &.cls-refund::before,
//   &.cls-modify::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     color: var(--text-white);
//     padding: 0 14px;
//     border-radius: 4px 0;
//     font-weight: 600;
//   }

//   &.cls-accept {
//     border: 1px solid var(--accepted) !important;

//     &::before {
//       content: 'Accepted';
//       background-color: var(--accepted);
//     }
//   }

//   &.cls-refund {
//     border: 1px solid var(--refunded) !important;
//     &::before {
//       content: 'Refund';
//       background-color: var(--refunded);
//     }
//   }

//   &.cls-modify {
//     border: 1px solid var(--modified) !important;
//     &::before {
//       content: 'Modified';
//       background-color: var(--modified);
//     }
//   }
// }
