.cls-AddUser {
    .ant-card {
        width: 100%;
    }
    .ant-card-body {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 50px 10px;
    }
    .cls-title {
        .ant-col-24 {
            padding-bottom: 0px;
        }
    }
    .ant-form-item {
        margin-bottom: 10px;
        .ant-col-4 {
            flex: 0 0 65%;
            max-width: 65%;
            text-align: left;
        }
        .ant-col-14 {
            flex: 0 0 calc(100% - 50px);
            max-width: calc(100% - 50px);
        }
        input, .ant-select {
            height: 40px;
        }
        &.cls-country-code {
            .ant-select {
                max-width: 95px;
            }
        }
        .ant-input-password {
            padding-block: 0px;
        }
        label {
            font-family: var(--font-medium);
            &::after{
                display: none;
            }
        }
        button {
            &.ant-switch {
                height: 22px;
                line-height: 22px;
                border-radius: 100px !important;
                &:hover {
                    box-shadow: none;
                }
            }
            &.ant-switch-checked {
                background-color: var(--t-common-primary);
                .ant-switch-handle {
                    left: calc(100% - 20px);
                }
            }
            .ant-switch-inner {
                .ant-switch-inner-checked,
                .ant-switch-inner-unchecked {
                    font-size: 12px;
                    font-family: var(--font-medium);
                }
                .ant-switch-inner-unchecked {
                    margin-top: -22px;
                }
            }
            .ant-switch-handle {
                position: absolute;
                transition: all .2s ease-in-out;
                height: 18px;
                left: 2px;
                top: 2px;
                width: 18px;
                &::before {
                    background-color: var(--t-header-background);
                    border-radius: 9px;
                    bottom: 0;
                    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, .2);
                    content: "";
                    left: 0;
                    right: 0;
                    top: 0px;
                    position: absolute;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
    .cls-country-code {
        width: max-content;
        .ant-col {
            flex: 0 0 65%;
            max-width: 65%;
        }
    }
    .cls-switch-row {
        display: flex;
        .ant-row {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .ant-form-item {
            .ant-col {
                max-width: max-content;
            }
        }
        .ant-form-item-control-input-content {
            display: flex;
            flex-wrap: nowrap;
            width: max-content;
            flex-direction: row-reverse;
            justify-content: flex-end;
            button {
                margin: -2px 10px 0px 0px;
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 767px) {
.cls-AddUser{
    .ant-card{
        .ant-card-body{
            padding:15px;
        }
    }
}
  }