.ResetPassword {
}
/* 
 * writte tooltip styles outside app
 * as it is attached to DOM directly
*/
.ant-tooltip {
  max-width: max-content;
}
.cls-pwd-tooltip {
  padding: 10px;
  color: #000000;
  .pwd-title {
    display: flex;
    justify-content: space-between;
  }
  .tip-title {
    margin-bottom: 10px;
  }
  .pwd-comment {
    float: right;
  }
  .anticon {
    font-size: 16px;
    margin-right: 10px;
  }
  .anticon-check-circle {
    color: #37c57a;
  }
  .anticon-close-circle {
    color: #e76262;
  }
  li {
    margin-bottom: 8px;
    span {
      color: #434658;
    }
  }
  /* password strength meter*/
  .pwd-meter {
    border-radius: 6px;
    width: 300px;
    span {
      height: 6px;
      display: inline-block;
      width: 23%;
      border-radius: 6px;
      margin-right: 5px;
    }
  }
  .poor .pwd-comment {
    color: #cd2f16;
  }
  .medium .pwd-comment {
    color: #da7229;
  }
  .good .pwd-comment {
    color: #efb746;
  }
  .great .pwd-comment {
    color: #2bd550;
    &::after{
      content: '!';
    }
  }
  .poor .p1,
  .medium .p1,
  .good .p1,
  .great .p1 {
    background: linear-gradient(to right, #cd2f16, #df651c);
  }
  .medium .p2,
  .good .p2,
  .great .p2 {
    background: linear-gradient(to right, #da7229, #ecaf3c);
  }
  .good .p3,
  .great .p3 {
    background: linear-gradient(to right, #efb746, #94cc51);
  }
  .great .p4 {
    background: linear-gradient(to right, #81cc4b, #2bd550);
  }
}
